session:
  key: YOUR_KEY
bot:
  token: YOUR_TOKEN
admin: 
  tg_id: YOUR_TG_ID
  password: YOUR_ADMIN_PASS (sha256).hexdigest()
database:
  host: localhost
  port: 5432
  user: YOUR_USER
  password: YOUR_PASSWORD
  name: YOUR_DB_NAME